/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loadingPage {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingPage {
    display: block;
}

.jumbotronImg{
     background: url("../images/boatPov.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	height:30em;
	margin-top:-50px;
	
}

.row-5-gutter{
    margin-left: -5px;
    margin-right: -5px;
	
	border:1px solid #012C57;
	
	/*
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	*/
	
	border-radius:8px;
	padding:4px;
	
	background-color: rgba(1,44,87,0.1);
}
.col-5-gutter{
    padding-left: 5px;
    padding-right: 5px;
}

.navBarMain {
 background-color: #012C57;
 border-bottom: none;
}

#welcomeUserName{
color: #FDBA13;
}

.logoMain a{
color: #FDBA13;
}

.logoMain a:link{
color: #FDBA13;
}


.logoMain a:visited{
color: #FDBA13;
}

.logoMain a:hover{
color: #FDBA13;
}

