.jumbotronImg{
     background: url("../images/boatPov.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	height:30em;
}

.row-5-gutter{
    margin-left: -5px;
    margin-right: -5px;
	
	border:1px solid #012C57;
	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	
	padding-bottom:2px;
	
	background-color: rgba(1,44,87,0.1);
}
.col-5-gutter{
    padding-left: 5px;
    padding-right: 5px;
}

.navBarMain {
 background-color: #012C57;
}

.navbar-header a{
color: #FDBA13;
}

.navbar-header a:visited{
color: #FDBA13;
}

.navbar-header a:hover{
color: #FDBA13;
}

